.header{
    background-color: bisque;
    margin-bottom: 2em;
    height: 10vh;
    padding-top: 1em;
}

.navbar{
    list-style: none;
    font-weight: 100;
}

li{
    margin-left: 1em;
}

.navbar-title{
    margin-left: 1em;
    font-weight: 700;
}